.card-body {
	padding: 1rem !important;
}

.table-body {
	padding: 0px !important;
}

.navbar .container{
  margin-left:0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0d6efd;
}
